@use 'base/variables' as v;
@use 'base/mixins' as m;

.trending-section__wrapper {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ver-mas-btn {
        margin-top: 2rem;
        width: 10rem;
    }

    #ver-mas-trending {
        margin-top: 5rem;
    }

    .trending-section__title-wrapper {
        text-align: center;
        margin-bottom: 3rem;

        .trending-section__title {
            font-size: 2rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            align-items: center;
        }

        .trending-section__title::before {
            content: "";
            display: block;
            height: 0.2rem;
            width: 100%;
            background-color: v.$azul;
        }

        .trending-section__title::after {
            content: "";
            display: block;
            height: 0.2rem;
            width: 100%;
            background-color: v.$azul;
        }
    }

    .trending-section__body-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto, 1fr);
        row-gap: 6rem;
        align-content: center;
        justify-content: center;

        @include m.desktop {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            column-gap: 5rem;
        }

        @include m.tablet {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            column-gap: 5rem;
        }

        .trending-section__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            @include m.tablet {
                height: 25rem;
            }

            a {
                color: v.$blanco;
                text-decoration: none;
            }

            .trending-section__item-title-wrapper {
                margin-top: 1rem;
                margin-bottom: 1rem;

                h2.trending-section__item-title {
                    font-size: 1.5rem;
                    text-align: center;
                }
            }

            img {
                width: 10rem;
                height: 10rem;
            }
        }
    }

    button.ver-mas-btn {
        a {
            color: v.$blanco;
            text-decoration: none;
        }
    }
}