@use 'base/variables'as v;
@use 'base/mixins'as m;

.wish {
    width: 15rem;
    min-height: auto;
    position: absolute;
    left: -7rem;
    background-color: v.$blanco;
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    overflow: auto;
    display: none;

    .wish__btn-container {
       padding: 1rem;
       width: inherit;
       position: fixed;
       display: flex;
       justify-content: center;
       background-color: v.$blanco; 
       box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);

       a {
           color: v.$blanco;
           text-decoration: none;
       }
    }

    .wish-item-wrapper {
        display: grid;
        grid-template-rows: repeat(auto, 5rem);
        max-height: 20rem;
    }

    .wish-item {
        height: 7rem;
        border-bottom: solid 1px v.$negro;
        padding: 0.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 1rem;
        grid-template-areas:
            "area1 area2"
            "area1 area4";

        img {
            grid-area: area1;
            height: 100%;
            width: 100%;
        }

        h2 {
            grid-area: area2;
            font-size: 1rem;
        }

        .wish-item__precio {
            grid-area: area4;
        }
    }


    @include m.tablet {
        right: 10rem;
    }

    img {
        width: 3rem;
        height: 3rem;
    }
}
