@use '../base/variables' as v;
@use '../base/mixins' as m;

.tablets-section__wrapper {
    padding: 2rem;

    .tablets-section__title-wrapper {
        text-align: center;
        margin-bottom: 3rem;

        .tablets-section__title {
            font-size: 2.5rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            align-items: center;
        }

        .tablets-section__title::before {
            content: "";
            display: block;
            height: 0.2rem;
            width: 100%;
            background-color: v.$azul;
        }

        .tablets-section__title::after {
            content: "";
            display: block;
            height: 0.2rem;
            width: 100%;
            background-color: v.$azul;
        }
    }

    .tablets-section__body-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 5rem;
        justify-content: center;

        @include m.desktop {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
        }

        @include m.tablet {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
        }


        .tablets-section__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a {
                color: v.$blanco;
                text-decoration: none;
            }

            img {
                width: 10rem;
                max-height: 8rem;
            }
        }
    }
}